@font-face {
    font-family: "Roboto";
    src: url("./asset/fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./asset/fonts/Roboto/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}